<div class="tweet-card" *ngIf="comment; else tweetLayout">
  <p class="tweet-reply">Replying to: {{ tweet.user.username }}</p>
  <div class="tweet-header">
    <img [src]="profileImg" alt="" class="avatar" />
    <p class="tweet-username">{{ comment.user.username }}</p>
    <span class="tweet-email">{{ comment.user.email }}</span>
  </div>
  <hr />
  <div class="tweet-content">
    <p class="tweet-text">
      {{ comment.text }}
    </p>
    <p class="tweet-time">{{ comment.created_at | date: "dd/MM/yyyy" }}</p>
  </div>
</div>

<ng-template #tweetLayout>
  <div class="tweet-card">
    <div class="tweet-header">
      <img [src]="profileImg" alt="avatar" class="avatar" />
      <p class="tweet-username">{{ tweet.user.username }}</p>
      <span class="tweet-email">{{ tweet.user.email }}</span>
    </div>

    <hr />

    <div class="tweet-content">
      <p class="tweet-text">
        {{ tweet.text }}
      </p>
      <div *ngIf="tweet.image" class="tweet-images">
        <img
          [src]="'http://localhost:1337' + img.url"
          alt=""
          class="tweet-img"
          *ngFor="let img of tweet.image"
        />
      </div>
      <div class="tweet-actions">
        <div>
          <button
            class="btn btn-secondary icon"
            [routerLink]="'/tweet/' + tweet.id"
          >
            <i class="far fa-comment"></i>
          </button>
          <button
            class="btn icon"
            (click)="onLike.emit(likedByMe)"
            [ngClass]="{ 'btn-secondary': !likedByMe }"
          >
            <i class="far fa-heart"></i>
            <span *ngIf="tweet.likes.length"> {{ tweet.likes.length }}</span>
          </button>
          <button class="btn btn-secondary icon" (click)="onRetweet.emit()">
            <i class="fas fa-retweet"></i>
          </button>
        </div>
        <p class="tweet-time">
          {{ tweet.created_at | date: "dd/MM/yyyy - hh:mm" }}
        </p>
      </div>
    </div>
  </div>
</ng-template>
