<nav class="navbar">
  <a routerLink="/" class="app-logo">Auth App</a>

  <div class="nav-links" *ngIf="!user; else userMenu">
    <a routerLink="/register" class="nav-link">Register</a>
    <a routerLink="/login" class="nav-link">Login</a>
  </div>

  <ng-template #userMenu>
    <div class="nav-menu">
      <img
        [src]="user.profileImgUrl"
        alt=""
        class="avatar"
      />
      Hello, {{ user.username }}
    </div>
    <div>
      <a routerLink="/profile" class="nav-link">Profile</a>
      <a href="#" class="nav-link" (click)="logout()">Logout</a>
    </div>
  </ng-template>
</nav>

<div class="container"><router-outlet></router-outlet></div>
