<div *ngIf="tweet; else loading">
  <app-tweet-card
    [tweet]="tweet"
    [me]="user"
    (onLike)="likeTweet($event)"
    (onRetweet)="retweet($event)"
  ></app-tweet-card>

  <div>
    <form (submit)="postComment()">
      <div class="form-control">
        <label for="text"
          >Enter comment
          <textarea
            type="text"
            name="text"
            id="text"
            placeholder="Reply..."
            cols="144"
            rows="5"
            [(ngModel)]="text"
          ></textarea>
        </label>
      </div>
      <button class="btn" type="submit" [disabled]="isFormLoading">
        {{ isFormLoading ? "Replying..." : "Reply" }}
      </button>
    </form>
  </div>

  <div class="comments-wrapper" *ngIf="comments">
    <app-tweet-card
      *ngFor="let comment of comments"
      [comment]="comment"
      [tweet]="tweet"
      [me] = "user"
      (onCommentLike) = "likeComment($event, comment.id)"
      (onCommentRetweet) = "retweetComment($event, comment.id)"
    ></app-tweet-card>
  </div>
</div>

<ng-template #loading>
  <h1>Loading...</h1>
</ng-template>
