<h1>Feed <i class="fab fa-twitter"></i></h1>

<hr />

<div class="tweet-form" *ngIf="user">
  <form (submit)="postTweet()">
    <div class="form-control relative">
      <label for="text"
        >Enter tweet
        <textarea
          type="text"
          name="text"
          id="text"
          placeholder="Tweet something..."
          cols="144"
          rows="5"
          [(ngModel)]="text"
        ></textarea>
      </label>
      <div class="upload-btns-wrapper">
        <button
          class="btn btn-secondary icon"
          type="button"
          (click)="imgUpload.click()"
        >
          <i class="fas fa-images"></i>
        </button>
        <button
          class="btn btn-secondary icon"
          type="button"
          *ngIf="fileList"
          (click)="imgUploadMore.click()"
        >
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>

    <div *ngIf="fileList" class="preview-images">
      <img
        [src]="img"
        alt=""
        *ngFor="let img of imgList"
        class="preview-image"
      />
    </div>
    <input
      class="file-input"
      type="file"
      (change)="selectFiles($event)"
      multiple
      #imgUpload
    />
    <input
      class="file-input"
      type="file"
      (change)="selectMoreFiles($event)"
      multiple
      #imgUploadMore
    />

    <div>
      <button class="btn" type="submit" [disabled]="isFormLoading">
        {{ isFormLoading ? "Tweeting..." : "Tweet" }}
      </button>
    </div>
  </form>
</div>

<div *ngIf="tweets; else loading">
  <app-tweet-card
    [tweet]="tweet"
    *ngFor="let tweet of tweets"
    (onLike)="likeTweet($event, tweet.id)"
    (onRetweet)="retweet(tweet.id)"
    [me] = "user"
  >
  </app-tweet-card>
</div>

<ng-template #loading> <h2>Loading...</h2> </ng-template>
