.tweet-form {
  width: 50%;
  margin: 20px auto;
  border: 1px solid slategray;
  padding: 20px;
}

.file-input {
  display: none;
}

.preview-images {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
}

.preview-image {
  width: 50%;
  height: 200px;
  object-fit: cover;
}

.upload-btns-wrapper {
  position: absolute;
  bottom: 4px;
  right: 0;
}
