<h1>Feed</h1>

<hr />

<div class="tweet-form" *ngIf="user">
  <form (submit)="postTweet()">
    <div class="form-control">
      <label for="text"
        >Enter tweet
        <textarea
          type="text"
          name="text"
          id="text"
          placeholder="Tweet something..."
          cols="144"
          rows="5"
          [(ngModel)]="text"
        ></textarea>
      </label>
    </div>

    <div *ngIf="fileList" class="preview-images">
      <img [src]="img" alt="" *ngFor="let img of imgList" class="preview-image"/>
    </div>
    <input
      class="file-input"
      type="file"
      (change)="selectFiles($event)"
      multiple
      #imgUpload
    />
    <input
      class="file-input"
      type="file"
      (change)="selectMoreFiles($event)"
      multiple
      #imgUploadMore
    />

    

    <button class="btn" type="submit" [disabled]="isFormLoading">
      {{ isFormLoading ? "Tweeting..." : "Tweet" }}
    </button>

    <button class="btn" type="button" (click)="imgUpload.click()">
      Upload Image
    </button>
    <button class="btn" type="button" *ngIf = "fileList" (click) = "imgUploadMore.click()"> Add More </button>
  </form>
</div>

<div *ngIf="tweets; else loading">
  <a
    [routerLink]="'/tweet/' + tweet.id"
    class="tweet-card"
    *ngFor="let tweet of tweets"
  >
    <app-tweet-card [tweet]="tweet"> </app-tweet-card>
  </a>
</div>

<ng-template #loading> <h2>Loading...</h2> </ng-template>
