.card {
  border-radius: 4px;
  max-width: 600px;
  margin: 60px auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.form-control {
  padding: 20px;

  label {
      font-size: 14px;
  }

  input {
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    padding: 10px 5px;
    border: 1px solid slategray;
  }
}

.form-actions {
  padding: 20px;
}
